<a class="button button--primary" href="/admin/mypartner/add">Create a Partner</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>E-mail</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Website</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
    {% for d in data %}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.mobilenumber }}</td>
            <td>{{ d.email }}</td>
            <td>{{ d.age }}</td>
            <td>{{ d.gender }}</td>
            <td>{{ d.website }}</td>
            <td><a href="/admin/mypartner/{{d.id}}/edit">Edit</a>&nbsp;<a href="/admin/mypartner/{{d.id}}/delete">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{var1}}