<a class="button button--primary" href="/admin/mypartner">Back to Partner List</a>
<form method="POST" action="/admin/mypartner/{{data.id}}/edit">
  <fieldset>
    <legend>Partner information:</legend>
    <label><b>Candidate Name:</b></label><br>
    <input type="text" class="form-text form-element" name="name" size=60 value="{{data.name}}"><br><br>
    <b>Mobile Number:</b><br>
    <input type="text" class="form-text form-element" name="mobilenumber" size=60 value="{{data.mobilenumber}}"><br><br>
    <b>Email:</b><br>
    <input type="text" class="form-text form-element" name="email" size=60 value="{{data.email}}"><br><br>
    <b>Age:</b><br>
    <input type="text" class="form-text form-element" name="age" size=60 value="{{data.age}}"><br><br>
    <b>Gender:</b><br>
    <select class="form-text form-element" name="gender"><option value="male" {{data.gender == 'male' ? 'selected' : '' }} >Male</option><option value="Female" {{data.gender == 'Female' ? 'selected' : '' }}>Female</option></select><br><br>
    <b>Web site:</b><br>
    <input type="text" class="form-text form-element" name="website" size=60 value="{{data.website}}"><br><br>
    <input type="submit" class="button button--primary" value="Update">
  </fieldset>
</form>
{{var1}}